:root {
	--primary: #203e69;
	--primary-dark: #1e1f2c;

	--secondary: #366bb5;
	--secondary-light: #cdd7e6;

	--grey: #d7dee9;
	--grey-light: #ebedf1;

	--tertiary: #4e6382;

	--accent: #102036;

	--warning: #ff0033;
	--warning-light: #e7a5ab;
	--success: #117243;

	--font-primary: #1e1f2c;
	--font-paragraph: #41445d;
	--font-secondary: #fcfcfc;
}

$vp-4k: 125em; // 2000px
$vp-17: 105rem; ////1680px
$vp-14: 85.375em; //1366px
$vp-12: 75em; //1200px
$vp-10: 62.5em; //1000px
$vp-9: 56.25rem; //900px
$vp-8: 48rem; // 768px
$vp-6: 35.5em; //568px
$vp-3: 20em; //320px
