:root {
	--primary: #1d3a62;
	--primary-dark: #1e1f2c;

	--secondary: #366bb5;
	--secondary-500: #255394;
	--secondary-dark: #1b4177;
	--secondary-light: #cdd7e6;

	--grey: #d7dee9;
	--grey-light: #ebedf1;

	--tertiary: #4e6382;

	--accent: #102036;

	--warning: #ff0033;
	--warning-light: #ebafb4;
	--success: #117243;
	--success-light: #3ad36d;

	--empty: #606063;

	--font-primary: #1e1f2c;
	--font-paragraph: #434766;
	--font-secondary: #fcfcfc;
}

$v-4k: 140.625em; // 2250px
$v-20: 125em; // 2000px
$v-17: 105em; ////1680px
$v-14: 85.375em; //1366px
$v-12: 75em; //1200px
$v-10: 62.5em; //1000px
$v-9: 56.25rem; //900px
$v-8: 48rem; // 768px
$v-6: 35.5em; //568px
$v-3: 20em; //320px
